<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            var data
            console.log(window.location)
            var webStart = 'ws://'
            if(window.location.protocol == 'https')
             {   webStart = 'wss://'}
            var endpoint = webStart + window.location.host + window.location.pathname

            var websocket = new WebSocket(endpoint)

            websocket.onopen = function(e){
                $("#option1").click(function(e){
                    console.log(data)
                    console.log(list)
                    console.log(questions_data)
                    websocket.send(JSON.stringify(data))
                })
                $("#option2").click(function(e){
                    console.log(data)
                    console.log(list)
                    console.log(questions_data)
                    websocket.send(JSON.stringify(data))
                })
                $("#option3").click(function(e){
                    console.log(data)
                    console.log(list)
                    console.log(questions_data)
                    websocket.send(JSON.stringify(data))
                })
            }
            websocket.onmessage = function(e){
                data = e.data
                data = JSON.parse(data)
                list = data['list']
                questions_data = data['data']
                console.log(data)
                console.log(list)
                console.log(questions_data)
                if (list.length == 0)
                {
                    $('#question').text("Quiz Over !!")
                    document.getElementById('option1').style.visibility = "hidden"
                    document.getElementById('option2').style.visibility = "hidden"
                    document.getElementById('option3').style.visibility = "hidden"
                    document.getElementById('quit').style.visibility = "visible"
                    return null;
                }
                i = list.pop()
                $('#question').text(questions_data[i]['question'])
                document.getElementById('option1').value = questions_data[i]['options'][0]
                document.getElementById('option2').value = questions_data[i]['options'][1]
                document.getElementById('option3').value = questions_data[i]['options'][2]
                console.log(i)
                delete questions_data[i]
            }

            var buttonpress = false ;

            function WaitForIt(){
                if (!buttonpress ) {
                setTimeout(WaitForIt,500);
                } 
                else
                    {   
                        buttonpress =false
                        return true
                    }                    
            }

            $(document).ready(function(){
                $("#start").click(function(){
                    var i 
                    for (i=0 ; i<list.length ; i++)
                    {
                        $("#question").text();

                    }
                });
                });
            
            function Questions(){
                
                document.getElementById("card").style.visibility = "visible"
            }

            function ButtonPress(){
                buttonpress = true ;
                console.log(buttonpress)
            }
    
        </script>
        <style>
            .main{
                border: 5px dotted green;
                background-color: grey;
                display: block;
                margin-left: 30%;
                margin-right: 30%;
                margin-top: 10%;
                text-align: center;
            }
            .card-extra{
                margin-left: 30%;
                margin-right: 30%;
                position: absolute;
                top: 10px;
            }
            .startbutton{
                position: absolute;
                left: 10px;
                top: 10px;
            }
            .quitbutton{
                position: absolute;
                left: 200px;
                top: 10px;
                visibility: hidden;
            }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
         crossorigin="anonymous">
    </head>
    <body>
        <input type="button" id="start" class="btn btn-success startbutton" onclick="Questions();" value="click here to start" ><br>
        <button id="quit" class="btn btn-danger quitbutton" onclick="location.href='/home/'">Go to Home</button>
        <div class="card-extra" style="visibility: hidden;" id="card" align="center">
            <div class="card">
                <div class="card-header" id="question"></div>
                <div class="card-body">
                <input type="button" id="option1" onclick="ButtonPress();">
                <input type="button" id="option2" onclick="ButtonPress();">
                <input type="button" id="option3" onclick="ButtonPress();">
                </div>
              </div>
        </div>

        <br><br>
    </body>
</html>